<div class="row" data-ng-init="ctrl.getFinish()">
    <section class="large-12 small-12 columns card end">
        <div>
            <h2 class="text-headline">Результаты</h2>
            <p>Вы прошли за {| ctrl.task.time |}.</p>
            <div class="text-center">
                <a class="raised-button ink large button"
                   data-ng-click="ctrl.toUrl(ctrl.task.links.list_quest)">Вернуться к списку</a>
            </div>
        </div>
        <div class="text-center">
            <a class="button second expanded"
               href="https://vk.com/topic-125131935_34752969"
               target="_blank">Оставить отзыв</a>
        </div>
    </section>

</div>
