<header class="it-header">
    <div class="row large-12 medium-12 valign-middle">
        <div class="small-5 medium-4 large-4 columns text-right">
            <a href="/" class="logo-link"><img class="logo" src="/img/fa7c64cb-ae1a-4f29-b3b6-3c0687fc13ed.png"></a>
        </div>
        <div class="small-7 medium-8 large-8 columns">
            <h1 class="title">Кубик - уличный квест build 510</h1>
        </div>
    </div>
</header>
<div class="row" data-ng-init="signup.activate()">
    <section class="large-12 small-12 columns main-content"
             data-ng-if="!signup.code">
        <p></p>
        <div class="text-center">
            <a class="button large expanded"
               href="https://oauth.vk.com/authorize?client_id=5597353&scope=&redirect_uri=https://kubikvest.xyz&response_type=code">Начать игру</a>
        </div>
        <h3>Приветствую тебя искатель приключений!</h3>
        <p>Тебе и твоей команде предстоит выбрать квест и отгадать 5 загаданных мест!
        Вам надо лишь подойти к загаданному месту и нажать "проверить место", если место верное, то придет следующее задание, если нет, поможет подсказка.</p>
        <p>Включи определение геопозиции. Убедись, что интернет работает. Авторизация через аккаунт ВК, поэтому помни пароль!)</p>
        <p>Все, вы готовы! Наслаждайтейсь игрой и свежим воздухом!</p>
    </section>
    <section class="large-12 small-12 columns card end"
             data-ng-if="signup.code">
        <h2 class="text-headline">Секундочку!</h2>
        <p>Подождите, сейчас все появится.</p>
    </section>
    <footer class="large-12 small-12 columns site-footer">
                <span class="site-footer-owner"><a
                    href="https://vk.com/kubik_kvest">Кубик - уличный квест.
                    Группа</a></span>
    </footer>
</div>
