<header class="it-header">
    <div class="row">
        <div class="hide-for-small-only medium-12 large-12 columns">
            <h1 class="text-center">Кубик - уличный квест</h1>
        </div>
        <div class="top-bar show-for-small-only">
            <div class="top-bar-left no-collapse">
                <ul role="menubar" class="menu">
                    <li role="menuitem" class="menu-text text-title">Кубик - уличный квест</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="row" data-ng-init="signup.activate()">
    <section class="large-12 small-12 columns main-content"
             data-ng-if="!signup.code">
        <h3>
            <a id="welcome-to-github-pages" class="anchor"
               href="#welcome-to-github-pages" aria-hidden="true"><span
                aria-hidden="true" class="octicon octicon-link"></span></a>Приветствую тебя искатель приключений!</h3>
        <p>Тебе и твоей команде предстоит выбрать квест и отгадать 5 загаданных мест! 
        Вам надо лишь подойти к загаданному месту и нажать "проверить место", если место верное, то придет следующее задание, если нет, поможет подсказка.</p>
        <p>Включи определение геопозиции. Убедись, что интернет работает. Авторизация через аккаунт ВК, поэтому помни пароль!)</p>
        <p>Все, вы готовы! Наслаждайтейсь игрой и свежим воздухом!</p>
        <div class="text-center">
            <a class="raised-button ink"
               href="https://oauth.vk.com/authorize?client_id=5597353&scope=&redirect_uri=https://kubikvest.xyz&response_type=code">Начать игру</a>
        </div>
        <p><a data-ng-click="signup.clean()">truncate db</a> </p>
    </section>
    <section class="large-12 small-12 columns card end"
             data-ng-if="signup.code">
        <h2 class="text-headline">Секундочку!</h2>
        <p>Подождите, сейчас все появится.</p>
    </section>
    <footer class="large-12 small-12 columns site-footer">
                <span class="site-footer-owner"><a
                    href="https://vk.com/kubik_kvest">Кубик - уличный квест.
                    Группа</a></span>
    </footer>
</div>
