<header>
    <div class="row small-12 large-12 medium-12 valign-middle top-bar">
        <div class="small-12 medium-12 large-12 columns text-center">
            <h1 class="title">Для начала выбери квест!</h1>
        </div>
    </div>
</header>
<div class="row" data-ng-init="ctrl.getListQuest()">
    <section class="large-4 medium-6 small-12 columns"
             data-ng-repeat="quest in ctrl.quests">
        <figure>
            <a data-ng-click="ctrl.changeQuest(quest.quest_id)">
                <img data-ng-src="{| quest.picture |}" alt="{| quest.title |}">
            </a>
            <figcaption>
                <a class="raised-button ink button large expanded"
                   data-ng-click="ctrl.changeQuest(quest.quest_id)">{| quest.title |}</a>
            </figcaption>
        </figure>
    </section>
</div>
