<header>
    <div class="row large-12 small-12 medium-12 valign-middle top-bar">
        <div class="small-12 medium-12 large-12 columns text-center">
            <h1 class="title">{| ctrl.task.quest.title |}</h1>
        </div>
    </div>
</header>
<div class="row" data-ng-init="ctrl.getTask()">
    <section class="large-12 small-12 columns card end"
             data-ng-if="!ctrl.task.finish && ctrl.task.point_id == 0">
        <p>{| ctrl.task.quest.description |}</p>
    </section>
    <section class="large-12 small-12 columns card end">
        <h2 class="text-headline">{| ctrl.task.point.title |}</h2>
        <p>{| ctrl.task.point.description |}</p>
    </section>
    <section class="large-12 small-12 columns card end">
        <p>Было передано lat: {| ctrl.task.coords.lat |}, lng: {| ctrl.task.coords.lng |}</p>
    </section>
    <div class="text-center"
         data-ng-if="!ctrl.task.finish && ctrl.task.point_id == 0">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.checkpoint |}">Я на месте</a>
    </div>
    <div class="text-center"
         data-ng-if="!ctrl.task.finish && ctrl.task.point_id != 0">
        <a class="raised-button ink large button"
           data-ng-class="{'disabled': ctrl.isLoaded}"
           data-ng-click="ctrl.checkpoint()">Проверить место</a><!-- {| ctrl.checkoutAttempt |}-->
    </div>
    <div class="text-center">
        <div>ДО ПОДСКАЗКИ ОСТАЛОСЬ:</div>
        <h3>
            <timer countdown="ctrl.task.countdownVal"
                   interval="1000"
                   finish-callback="ctrl.getTask()"
                   autostart="false"
                   data-ng-if="ctrl.task.countdownVal">{| mminutes |}:{| sseconds |}
            </timer>
        </h3>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.point.prompt">
        <p data-ng-bind="ctrl.task.point.prompt"></p>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.finish">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.finish |}">Мои результаты тут</a>
    </div>
</div>
