<div class="row" data-ng-init="ctrl.getTask()">
    <header class="it-header">
        <div class="row">
            <div class="hide-for-small-only medium-12 large-12 columns">
                <h1 class="text-center">{| ctrl.task.quest.title |}</h1>
            </div>
            <div class="top-bar show-for-small-only">
                <div class="top-bar-left no-collapse">
                    <ul role="menubar" class="menu">
                        <li role="menuitem" class="menu-text text-title">{| ctrl.task.quest.title |}</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="large-12 small-12 columns card end"
             data-ng-if="!ctrl.task.finish && ctrl.task.point_id == 0">
        <p>{| ctrl.task.quest.description |}</p>
    </section>
    <section class="large-12 small-12 columns card end">
        <h2 class="text-headline">{| ctrl.task.point.title |}</h2>
        <p>{| ctrl.task.point.description |}</p>
    </section>
    <section class="large-12 small-12 columns card end">
        <p>lat: {| ctrl.task.coords.lat |}, lng: {| ctrl.task.coords.lng |}, acr: {| ctrl.task.coords.acr |}</p>
    </section>
    <div class="text-center"
         data-ng-if="!ctrl.task.finish && ctrl.task.point_id == 0">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.checkpoint |}">Я на месте</a>
    </div>
    <div class="text-center"
         data-ng-if="!ctrl.task.finish && ctrl.task.point_id != 0">
        <a class="raised-button ink large button"
           data-ng-click="ctrl.checkpoint()">Проверить ответ {| ctrl.checkoutAttempt |}</a>
    </div>
    <div class="text-center">
        <h3>
            <timer countdown="ctrl.task.countdownVal"
                   interval="1000"
                   finish-callback="ctrl.getTask()"
                   autostart="false"
                   data-ng-if="ctrl.task.countdownVal">{| mminutes |}:{| sseconds |}
            </timer>
        </h3>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.point.prompt">
        <p>{| ctrl.task.point.prompt |}</p>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.finish">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.finish |}">Мои результаты тут</a>
    </div>
</div>
