<div class="row" data-ng-init="ctrl.getTask()">
    <section class="large-12 small-12 columns card end">
        <h2 class="text-headline">{| ctrl.task.title |}</h2>
        <p>{| ctrl.task.description |}</p>
    </section>
    <div class="text-center"
         data-ng-if="!ctrl.task.finish">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.checkpoint |}">Я на месте</a>
    </div>
    <div class="text-center">
        <h3><timer countdown="ctrl.task.countdownVal"
                   interval="1000"
                   finish-callback="ctrl.getTask()"
                   data-ng-if="ctrl.task.countdownVal">{| mminutes |}:{| sseconds |}</timer></h3>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.prompt">
        <p>{| ctrl.task.prompt |}</p>
    </div>
    <div class="text-center"
         data-ng-if="ctrl.task.finish">
        <a class="raised-button ink large button"
           href="{| ctrl.task.links.finish |}">Мои результаты тут</a>
    </div>
</div>
